/* 
=======================================================
          public styles
======================================================= */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
  font-family: "Josefin Sans", sans-serif;
  color: #141517;
}
.container {
  width: 85%;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .row {
    flex-flow: column wrap;
  }
}

.btn {
  border: none;
  background-color: #333;
  padding: 21px 47px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 1;
}
.btn::before {
  z-index: -1;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: #ff2020;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.btn:hover::before {
  width: 100%;
}
/* 
=====================================================
            end public styles
=====================================================
 */

/* ===============
        navbar
 ================= */
